services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - DOMAIN=${DOMAIN}
    volumes:
      - ${CONFIG_FOLDER}/:/data/
    networks:
      - reverseproxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=reverseproxy-nw"

      - "traefik.http.routers.vaultwarden.rule=Host(`vw.sleao.dev`)"
      - "traefik.http.routers.vaultwarden.entrypoints=websecure"
      - "traefik.http.routers.vaultwarden.tls=true"
      - "traefik.http.services.vaultwarden.loadbalancer.server.port=80"

networks:
  reverseproxy-nw:
    external: true
