version: "3"
services:
  portainer:
    image: portainer/portainer-ee:latest
    container_name: portainer
    volumes:
      - ${CONFIG_FOLDER}:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - reverseproxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.sleao.dev`)"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.tls.certresolver=letsencrypt"
      - "traefik.http.routers.portainer.middlewares=authelia@file"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

networks:
  reverseproxy-nw:
    external: true
